body{
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 85%;
}

main{
    border-radius: 15px;
    background-color: lavender;
    margin: auto;
    padding-top: 1.5%;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.288), 0 6px 20px 0 rgba(0, 0, 0, 0.247);
}

h1{
    text-align: center;
    font-size: 250%;
}

header{
    padding-top: 1%;
}

nav{
    text-align: center;
    display: flex;
    justify-content: center;
}

hr{
    height:2px;
    border-width:0;
    color: forestgreen;
    background-color: forestgreen;
}

footer{
    padding: 0.5%;
    font-size: 80%;
    color: white;
    background-color: black;
    width: auto;
    text-align: center;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

.menu{
    flex: 1;
    display: inline-block;
    padding: 1% 1%;
    transition: 0.3s;
    border-radius: 5px;
}
.menu:hover{
    background-color: forestgreen;
}

.Tem{
    text-align: center;
    font-size: 180%;
    font-weight: bold;
}

.Podtem{
    font-size: 130%;
    font-weight: bold;
}

.tresc{
    padding-bottom: 1.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

#tytulowy{
    height: 20%;
}

li{
    list-style: none;
}
li::before{
    content: "•";
    color: forestgreen;
    width: 1em;
    margin-left: -1em;
}