body{
    background-image: url("background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    border-radius: 25px;
    background-color: lavender;
    width: 75%;
    margin: auto;
    padding: 0.75%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.288), 0 6px 20px 0 rgba(0, 0, 0, 0.247);
}

h1{
    text-align: center;
    font-size: 250%;
}

header{
    padding-top: 1%;
}

nav{
    text-align: center;
    display: flex;
}

.menuspace{
    width: 25%;
}

.menu{
    flex: 1;
    display: inline-block;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 15px;
}
.menu:hover{
    background-color: brown;
}

.Tem{
    text-align: center;
    font-size: 250%;
    font-weight: bold;
}

.Podtem{
    font-size: 190%;
    font-weight: bold;
}

#tytulowy{
    height: 20%;
}